.frame 
{
  display: flex;
  justify-content: center;
  align-items: center;
}


.frame img 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#mobile
{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Open Sans', sans-serif;
  font-weight: 300; 
  display: none;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#444344, #fff 50%);
}

#mobile-content
{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#mobile-main-text
{
  font-size: 2.5vh;
  margin-top: 3.0vh;
  text-align: center;
}

#mobile-title img 
{
  margin-top: 20vh;
  width: 100%;
}

#mobile-badges 
{
  margin-top: 3.0vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#mobile-badges img
{
  margin-bottom: 1.5vh;
  width: 100%;
}

#fake-android
{
  text-align: center;
  width: 80%;
  background-color: #d3d3d3;
  padding: 10% 10%;
  border-radius: 10px;
  font-size: 1.7vh;
}

#mobile-footer
{
  float: right;
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-right: 2vh;
}

#mobile-footer a
{
  font-weight: 700;
  color: black;
}

/*@media only screen and (max-width: 700px)
{
  body 
  {
    margin: 0;
    padding: 0;
  }

  #mobile 
  {
    display: block;
  }

  #wrapper 
  {
    display: none;
  }
}*/

@media (prefers-color-scheme: dark)
{
  html, body {
    background-color: #111;
    color: #ccc;
  }
}